<header class="header">
  <div class="header-left">
    <img src="assets/logo.png" alt="Logo" class="logo">
  </div>
  <nav class="header-nav">
    <ng-container *ngFor="let item of topLevelNavItems">
      <a
        *ngIf="shouldShowMenuItem(item)"
        [routerLink]="item.route"
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: true }"
        class="nav-link"
      >{{ item.label }}</a>
    </ng-container>
  </nav>
  <div class="header-right">
    <a href="https://drive.google.com/file/d/1DnY9EyzO_bIvHADg3bQP12n2-6JFQc1x/view?usp=sharing%2024-07_debug.apk" target="_blank" class="download-btn">Download</a>
    <div class="user-profile">
      <span>Language</span>
      <select class="country-dropdown" [(ngModel)]="selectedLanguage" (change)="onLanguageChange($event)">
        <option value="en">en</option>
      </select>
    </div>
  </div>
</header>